.backgroundRegister {
    display: flex;
    width: 85vw;
    height: 105vh;
    border-radius: 3em;
    position: static;
    z-index: 0;
}

.backgroundRegister input{
    width: 20vw;
    height: 4vh;
    font-family: Helvetica;
    font-size: 13px;
    color: gray;
    cursor: pointer;
    background: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-Container {
    align-items: center;
}

.form-content {
    padding: 2em;
    align-self: center;
}

.column-1 {
    position: static;
    z-index: 1;
    padding-left: 15vw;
    width: 20vw;
}

.column-2 {
    position: static;
    z-index: 1;
    width: 20vw;
    padding-left: 8vw;
}