.input {
    width: 20vw;
    height: 4vh;
    border-radius: 1em;
    margin-top: 3.5vh;
}


.input-large {
    width: 56vw;
    height: 15vh;
    border-radius: 1em;
    text-align: start;
    margin-top: 3.5vh;
    margin-left: 1.5vw;
    
}

