.custom-button{
    background-color: rgba(24, 47, 115, 1);
    color: #ffffff;
    box-shadow: 0 4px 12px rgba(24, 47, 115, .5);
    margin-top: 3.5vh;
    margin-left: 25vw;
    margin-right: 25vw;
    padding-left: 1.528em;
    padding-right: 1.528em;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 3.0em;
    min-width: 2.5em;
    border: none;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.7em;
}

.custom-button:hover{
    background-color: rgb(6, 23, 77);
    cursor: pointer;
}